!!!5

%html

  %head
    %title Orbitz
    %meta{name: 'robots', content: 'noindex' }
    %link{ rel: 'stylesheet', type: 'text/css', href: 'style.css' }
    %link{ rel: 'stylesheet', type: 'text/css', href: 'http://fonts.googleapis.com/css?family=Quicksand|Raleway:800' }
    %script{ src: "//cdn.optimizely.com/js/793782030.js" }

  %body

    %header
      
      .wrap
      
        %img.orbitz{ src: 'images/orbitz.png' }
        %img.hsg{ src: 'images/hsg.png' }

    %section.bg-clouds
      
      .wrap
      
        %h1 A New Flight Plan for Orbitz

        %div.video
          %iframe{ width: "600", height: "358", src: "//www.youtube.com/embed/QsXisjguO9Q", frameborder: "0" }

    %section.bg-white
      
      .wrap

        %a.download{ href: 'images/deck.pdf' } Download the "New Flight Plan for Orbitz" Deck Here

    %footer

      .wrap

        .right-column#hsgcontact
          %img{ src: 'images/hsg.png' }
          %br
          617-249-0531
          %br
          %a{ href: 'http://www.highstartgroup.com' }Learn More About High Start Group

        .clearfix
