!!!5

%html

  %head
    %title extra20
    %link{ rel: 'stylesheet', type: 'text/css', href: 'style.css' }
    %link{ rel: 'stylesheet', type: 'text/css', href: 'http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' }

  %body

    %section.bg-red
      .wrap
        %h2 Be the First!
        %p.intro Santander is designing a new credit card, and you're one of the first to hear about it.

        .headline
          %h1 Get the extra20 credit card when available and get paid $20 a month.
          %a.button{ href: '' }
            Sign Up Today
            %br
            %span for more information

    %section.bg-white

      .wrap

        %img{ src: 'card.png' }

        %h2
          Take these 3 easy steps when
          %br
          the credit card becomes available.

        .step.step1
          Apply for and be approved for the
          %strong extra20 credit card.

        .step.step2
          Earn
          %strong $10 per month
          for spending your first $400 in the month.

        .step.step3
          Spend another $400 in the month and
          %strong you get $10 more.

        .clearfix

    %section.bg-gray

      .wrap

        %h2 Frequently Asked Questions

        .question
          %strong How do the credit card rewards work?
          %p
            With the extra20SM credit card , you can get paid for your everday spending. You spend $400, we pay you $10 per month. Then, you get another $10 per month when you spend another $400. That’s a total of $20 a month that we credit back to you.

        .question
          %strong Is this just a one-time promotion?
          %p
            This will not be a one-time promotion. We plan to give a monthly bonus for our extra20SM credit card customers. There’s no cap on how long you can collect your $20 per month as long as you qualify. The bonus is credited directly to your monthly bill.

        .question
          %strong How do I learn more?
          %p
            The extra20 credit card is not yet available, and we are not taking applications or doing credit checks. We are assessing the intent in Santander's new product and invite you to paritcipate in this exclusive pre-order. All information will be kept confidential and will only be used to notify you when you are able to apply.

        %a.button.button-dark{ href: '' }
          Click to be the First to Learn More

    %footer

      .wrap

        .left-column
          %p
            Equal Housing Lender. Santander Bank, N.A. is a Member FDIC and a wholly owned subsidiary of Banco Santander, S.A. © 2014 Santander Bank, N.A. All rights reserved. Santander, Santander Bank , the Flame Logo and Extra 20 (in connection with checking account services) are registered trademarks, and A Bank For Your Ideas, Extra 20 and Extra 20 (and Design) in connection with Savings and Credit Card Services) are service marks of Banco Santander, S.A. or its affiliates or subsidiaries in the United States or in other countries.
          %p
            &copy; 2014 Santander Bank, N.A.
            %br
            %a{ href: 'http://www.santander.com/' } Learn More About Santander Bank

        .right-column
          %img{ src: 'images/hsg.png' }
          %br
          617-249-0531
          %br
          preorders@highstartgroup.com
          %br
          %a{ href: 'http://www.highstartgroup.com' }Learn More About High Start Group

        .clearfix


