$red: #eb1515;

* {
	margin: 0;
	padding: 0;
}

a {
	color: $red;
	font-weight: 400;

	&:hover {
		color: darken($red, 20%);
	}
}

body {
	color: #333;
	font-family: 'Quicksand';
	font-size: 20px;
}

footer {
	background: #2d2d2d;
	color: #ddd;
	font-size: 14px;
	font-weight: 200;
	padding: 40px 0;

	.right-column {
		float: right;
		width: 300px;
	}

	p {
		margin: 0 0 15px 0;
	}
}

h1 {
	color: #fff;
	font-family: 'Raleway';
	font-size: 40px;
	margin-bottom: 15px;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

h2 {
	color: green;
	font-size: 30px;
	font-weight: 400;
	margin: 0 auto;
	text-align: center;
	width: 600px;
}

header {
	background: #002537; /* Old browsers */
	background: -moz-linear-gradient(top, #002537 0%, #001017 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#002537), color-stop(100%,#001017)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #002537 0%,#001017 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #002537 0%,#001017 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #002537 0%,#001017 100%); /* IE10+ */
	background: linear-gradient(to bottom, #002537 0%,#001017 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002537', endColorstr='#001017',GradientType=0 ); /* IE6-9 */
	padding: 10px 0;
	height: 30px;
}

section, footer {
	padding: 40px 0 10px 0;
}

.bg-clouds {
	background: url(images/bg.jpg) bottom center;
}

.bg-white {
	background: #fff;
}

.clearfix {
	clear: both;
}

.download {
	color: #7fc228;
	display: block;
	font-size: 30px;
	margin: 20px 0 50px 0;
	text-align: center;
}

.hsg {
	float: right;
	margin-top: 1px;
	width: 150px;
}

.orbitz {
	float: left;
	margin-top: 5px;
	width: 100px;
}

.registered:after {
	content: '®';
	font-size: 12px;
	vertical-align: super;
}

.service:after {
	content: '℠';
}

.smalltext {
	font-size: 16px;
	font-weight: 500;
	margin-top: 20px;
	text-align: center;
}

.video {
	margin: 60px auto;
	width: 600px;
}

.wrap {
	margin: 0 auto;
	width: 960px;
}

#hsgcontact {
	margin-bottom: 30px;
	img { width: 200px; }
}

