$red: #eb1515;

* {
	margin: 0;
	padding: 0;
}

a {
	color: $red;
	font-weight: 400;

	&:hover {
		color: darken($red, 20%);
	}
}

body {
	background: $red url(images/bill.png) no-repeat center top;
	background: $red url(images/geometry.png);
	color: #333;
	font-family: 'Roboto';
	font-size: 20px;
}

footer {
	background: #2d2d2d;
	color: #ddd;
	font-size: 14px;
	font-weight: 200;

	.left-column {
		box-sizing: border-box;
		float: left;
		padding: 0 40px 0 0;
		width: 660px;
	}

	.right-column {
		float: left;
		width: 300px;
	}

	p {
		margin: 0 0 15px 0;
	}
}

h1 {
	color: #fff;
	font-size: 34px;
	margin-bottom: 25px;
	text-align: center;
}

h2 {
	font-size: 50px;
	font-weight: 100;
	text-align: center;
}

section, footer {
	padding: 60px 0;
}

.bg-gray {
	background: #eee;
}

.bg-red {
	background: url(images/bill.png) no-repeat top center;
	padding-top: 140px;

	h2, p { color: #fff; }

	p {
		margin: 5px auto 0 auto;
		text-align: center;
		width: 450px;
	}
}

.bg-white {
	background: #fff;
}

.button {
	background: #f8f8f8;
	box-shadow: 0 5px 0 rgba(0,0,0,.3);
	color: $red;
	display: block;
	font-size: 34px;
	font-weight: 100;
	line-height: .8;
	padding: 20px;
	text-align: center;
	text-decoration: none;

	span {
		font-size: 16px;
		font-weight: 500;
	}

	&:hover {
		background: #ddd;
		color: $red;
	}
}

.button-dark {
	background: $red;
	color: #fff;
	margin: 60px 100px 0 100px;

	&:hover {
		background: darken($red, 20%);
		color: #fff;
	}
}

.card {
	display: block;
	margin: 0 auto 20px auto;
	width: 280px;
}

.clearfix {
	clear: both;
}

.headline {
	background: rgba(0,0,0,.3);
	margin: 30px auto 0 auto;
	padding: 20px 60px;
	width: 700px;
}

.question {
	margin: 60px 100px 0 100px;

	strong {
		color: $red;
	}

	p strong {
		color: #333;
	}
}

.registered:after {
	content: '®';
	font-size: 12px;
	vertical-align: super;
}

.santander {
	background: url(images/santander.gif) no-repeat;
	bottom: 20px;
	position: fixed;
	height: 77px;
	right: -2px;
	width: 192px;
}

.service:after {
	content: '℠';
}

.smalltext {
	font-size: 16px;
	font-weight: 500;
	margin-top: 20px;
	text-align: center;
}

.step {
	box-sizing: border-box;
	float: left;
	margin-top: 60px;
	padding: 35px 20px 0 20px;
	text-align: center;
	width: 33%;

	&.step1 { background: url(images/1.png) no-repeat top center; }
	&.step2 { background: url(images/2.png) no-repeat top center; }
	&.step3 { background: url(images/3.png) no-repeat top center; }
}

.wrap {
	margin: 0 auto;
	width: 960px;
}

.form {

	.bg-red {
		padding-top: 190px;
	}

	.bg-red p {
		width: 600px;
	}

	.bg-white .left-column {
		float: left;
		margin-right: 60px;
		width: 300px;
	}

	.bg-white .right-column {
		float: left;
		width: 600px;
	}

	.instructions {
		margin-bottom: 40px;
	}

	form p {
		font-size: 15px;
		font-weight: 300;
	}

	label {
		display: block;
		font-size: 12px;
		font-weight: 600;
		margin-top: 5px;
		text-transform: uppercase;
	}

	input[type='text'], input[type='email'], select {
		box-sizing: border-box;
		font-size: 20px;
		margin-bottom: 25px;
		padding: 10px;
		width: 100%;
	}

	input[type='checkbox'] {
		margin-bottom: 25px;
	}

	form .button {
		background: $red;
		border: none;
		box-shadow: 0 3px 0 rgba(0,0,0,.2);
		color: #fff;
		cursor: pointer;
		font-size: 12px;
		font-weight: 600;
		padding: 15px 30px;
		text-transform: uppercase;

		&:hover {
			background: darken($red, 20%);
		}
	}

	#next {
		display: inline-block;
	}

	.page2 {
		display: none;
	}

	.parsley-error {
		border: 1px solid $red;
		margin-bottom: 3px !important;
	}

	.parsley-errors-list {
		color: $red;
		font-size: 13px;
		list-style: none;
		margin-bottom: 25px;
	}

}
